.header-item {
  padding-right: 20px;
  padding-left: 30px;
  margin-right: 20px;
  border-right: 1px solid white;
}

.header-item2 {
  padding-right: 30px;
}

.top-header {
  height: 35px;
  font-family: "Tinos", sans-serif;
  font-size: 13px;
}

.item {
  font-weight: 600;
  font-size: 14px;
}
.txtText {
  font-weight: 400;
  font-size: 10px;
}
.txtAddress {
  font-weight: 400;
  font-size: 13px;
}

* {
  /* reset lại margin và padding cho các tag */
  margin: 0;
  padding: 0;
}

.box-hover {
  margin: 10px auto;
  border: 1px solid #ccc;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.box-hover img {
  max-width: 100%;
  transition: all 1s;
}

.box-hover .img-change {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
.box-hover:hover .img-change {
  opacity: 0;
}

.icon {
  font-size: 25px;
}
.scroll-down-section button {
  animation: float 3s ease-in-out infinite;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
}

.title {
  text-decoration: none;
  color: #333333;
  font-family: "Tinos", sans-serif;
  font-size: 45px;
}
.image-hover:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.text {
  color: var(--shop-color-text);
  line-height: 1.45;
  font-size: 18px;
  font-family: "Tinos", sans-serif;
  font-weight: 400;
  margin: 10px 0 0 0;
  text-align: center;
}
.sectionHeading {
  font-size: 45px;
  font-weight: 400;
}

.action-home-banner {
  margin-top: 20px;
}
.btn-home-banner {
  border: 1px solid #f0f0f0;
  padding: 15px 30px;
  background: #fff;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Tinos", sans-serif;
  color: var(--shop-color-text);
  text-decoration: none;
}

.btn-home-banner:hover {
  background: #f8f8f8;
  border-color: #dfe2e6;
}

.title-category {
  padding-top: 20px;
}

/* dong ho categoryu */
.product-container {
  /* position: relative;
  overflow: hidden; */
  /* overflow-x: auto; */
  display: flex;
  position: relative;
  overflow: hidden;
  /* -webkit-transform: translate3d(0,0,0); */
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Thêm padding để tạo khoảng cách giữa sản phẩm */
}

.product-item img {
  /* max-width: 100%; */
  height: auto;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 8px; /* Bo tròn góc ảnh */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Hiển thị đổ bóng nhẹ */
}

.product-title {
  margin-top: 8px; /* Khoảng cách giữa hình ảnh và tiêu đề */
}

.scroll-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scroll-buttons button {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-buttons button:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* end */

.owl-dot {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  margin: 5px;
  outline: none;
  box-shadow: none;
  border: none;
}

.price {
  color: #ff2c26;
  margin-right: 6px;
  font-weight: 600;
  font-size: 16px;
}

.btn-proloop {
  background: #ffffff;
  font-weight: 600;
  border: 1px solid #e9eaec;
  padding: 7px 10px;
  text-align: center;
  border-radius: 30px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: var(--shop-color-text);
  border: 1px solid #e9eaec;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

.btn-collection {
  border: 1px solid black;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 20px;
  color: black;
  padding: 8px 24px;
  font-size: 14px;
  font-family: "Tinos", sans-serif;
}

.wraplist-ctas {
  display: inline-block;
  margin-top: 50px;
  vertical-align: middle;
  justify-content: center;
  display: flex;
}

.info-banner-bottom {
  text-align: center;
  padding: 20px;
}

.des-text-banner {
  font-size: 18px;
  margin: 20px 0;
  color: black;
  line-height: 1.45;
  font-size: 14px;
  font-family: "Tinos", sans-serif;
}

.proloop--vender {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-article {
  font-size: 18px;
  text-align: left;
}

.short-article {
  font-size: 14px;
  text-align: left;
}

.view-article {
  text-align: left;
  font-size: 14px;
}

.user {
  font-size: 12px;
}

.login-account {
  font-size: 18px;
}

.link-cart {
  font-size: 13px;
}

.header-cart {
  border-bottom: 1px solid #eae4e8;
}

#main-menu ul.sub-menu {
  position: absolute;
  z-index: 1;
  border-top: 1px solid #eae4e8;
  display: none;
}

#main-menu li:hover ul.sub-menu {
  display: block;
  z-index: 2;
}

.parent-product {
  position: relative;
  z-index: 1;
}

.sub-product {
  position: absolute;
  z-index: 2;
  display: none;
}

#main-menu .product-hover:hover .sub-product {
  display: block;
}

.form-control {
}

.product-card {
  margin-bottom: 15px;
}

.section-home-intro {
  padding: 80px 0;
  background: #f8f8f8;
}
