.address-receive {
  margin: 0 150px;
}

.vtrWey {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

.payment-name {
  padding: 28px 30px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
}

._6HCfS6 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #222;
  padding: 24px 30px 0;
}
._04sLFc {
  flex: 2;
}

.jNp\+ZB {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.ktatB- {
  flex: 4;
}
.LBqTli {
  flex: 2;
}

.product-cart {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.09);
}

.iyDtv7 {
  margin-top: 12px;
}

._2OGC7L {
  margin: 0 30px;
  margin-top: 0px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
  min-height: 55px;
}

.EOqcX3 {
  flex: 4;
}

.Le31ox {
  flex: 2;
}

.h3ONzh1 {
  flex: 1;
}

.h3ONzh2 {
  flex: 1;
}

.h3ONzh3 {
  flex: 2;
}

.gHbVhc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oEI3Ln {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.h3ONzh {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ULZMSb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Nivkv- {
  background-color: #fafdff;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.OX-2Lj h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.kMV1h4,
.ORSmAy {
  font-weight: 500;
}

.R3a05f {
  padding: 0 25px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  justify-content: flex-end;
}

.bwwaGp {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.checkout-payment-method-view__current {
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  min-height: 5.625rem;
  box-sizing: border-box;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.checkout-payment-setting {
  position: relative;
  padding: 0.625rem 1.5rem 1.25rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.05);
}

.checkout-payment-method-view__current-title {
  font-size: 30px;
  font-weight: 600;
 
  color: #222;
}

.checkout-payment-setting .product-variation {
  font-weight: 500;
  border-radius: 2px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 0.625rem;
}

.product-variation--selected {
  color: #ee4d2d;
  color: var(--brand-primary-color, #ee4d2d);
  border-color: #ee4d2d;
  border-color: var(--brand-primary-color, #ee4d2d);
}

.product-variation {
  overflow: visible;
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  box-sizing: border-box;
  padding: 0.25rem 0.75rem;
  margin: 0 8px 8px 0;
  margin-top: 0px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-top-color: rgba(0, 0, 0, 0.09);
  border-right-color: rgba(0, 0, 0, 0.09);
  border-bottom-color: rgba(0, 0, 0, 0.09);
  border-left-color: rgba(0, 0, 0, 0.09);
  position: relative;
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.KQyCj0 {
  background: #fffefb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid #f1f0ed;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.OX-2Lj h1.a11y-visually-hidden,
.OX-2Lj h2.a11y-visually-hidden,
.OX-2Lj h3.a11y-visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h3.bwwaGp.iL6wsx {
  color: rgba(0, 0, 0, 0.54);
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-column-span: 1;
}

.BcITa9 {
  grid-row-start: 11;
  grid-row-end: 12;
}

.bwwaGp {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.R3a05f {
  padding: 0 25px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  justify-content: flex-end;
}

.bwwaGp {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.OX-2Lj h1,
.OX-2Lj h2,
.OX-2Lj h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.bwwaGp {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.EOJLSN,
.RY9Grr {
  -ms-grid-row-span: 1;
}
.RY9Grr {
  grid-row-start: 12;

  grid-row-end: 13;
}
.R3a05f {
  padding: 0 25px 0 10px;

  height: 40px;

  min-width: 100px;

  grid-column-start: 3;

  grid-column-end: 4;

  -ms-grid-column-span: 1;

  justify-content: flex-end;
}

.uTFqRt {
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-span: 3;
  grid-row-start: 32;
  grid-row-end: 33;
  -ms-grid-row-span: 1;
  min-height: 95px;
  padding: 0 30px;
  margin: 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.k4VpYA {
  padding: 40px 25px 32px 0;
  flex: 1;
}

.OX-2Lj .stardust-button--primary {
  background: #ee4d2d;
  color: #fff;
}

/* payment content */
.payment-address {
  padding: 8px;
  width: 800px;
  height: 100px;
}

.payment-title {
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0;
}
.payment-address-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addressName {
  padding-right: 10px;
}
.updateAddress {
  text-decoration: none;
  cursor: pointer;
}
